<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Go Site </title>
</head>
<body>
    <header class="header">
        <h1>
            This is an amazing website!
        </h1>
    </header>
    <main class="main">
        <div class="inner-main">
            <p>Why?</p>
            <br>
            <p style="font-style: italic">Because it was made with Go!</p>
        </div>
    </main>
    <footer>
        <p>{{ .Name }}</p>
        <p>{{ .Number }}</p>
    </footer>
</body>
</html>